
.wrapper_window {
    color: currentColor;
    background: var( --c-background-game-window);
    display: flex;
    flex-direction: column;

}

.gamewindow__header {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
    min-height: 96px;
    gap: 8px;
}



.stat_text {
    color: var(--c-text-darker);
    font-size: 1.5rem;
}

.game-window__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 32px;
}

.restart-button {
    align-self: center;
    font-size: 1.5rem;
    padding: 0.5em 2em;
    cursor: pointer;

}

.timer {
    font-size: 1rem;
}