
.tile {
    background: var(--c-green-500);
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    font-weight: 700;
}

.tile--dark {
    background: var(--c-green-600);
}

.flag {
    max-width: 16px;
    max-width: 16px;
}

.mine {
    max-width: 16px;
    max-width: 16px;
}

.tile--revealed {
    background: var(--c-beige-100);
}