:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  --c-white: rgba(255, 255, 255, 1);
  --c-black: rgba(10, 10, 10, 1);

  --c-grey-500: rgba(121, 121, 121, 1);
  --c-grey-700: rgba(76, 76, 76, 1);
  --c-grey-900: rgba(37, 37, 37, 1);

  --c-yellow-700: rgb(200, 169, 17);
  --c-yellow-500: rgb(216, 184, 23);
  --c-yellow-300: rgb(230, 204, 75);
  --c-yellow-100: rgb(239, 219, 120);

  --c-red-500: rgb(202, 31, 31);
  --c-red-700: rgb(144, 24, 24);

  --c-green-500: rgb(38, 200, 55);
  --c-green-700: rgb(38, 145, 49);
  
  --c-blue-500: rgb(37, 40, 199);



  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
